.container {
  display: flex;
  align-items: center;
}

.cabecalho {
  min-width: 330px;
  background-color: var(--cor-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url("../assets/Menu.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  min-width: 190px;
  max-width: 255px;
}

.container__botao {
  display: none;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo, .lista-menu__item {
  padding: 1em 2em;
  background-color: var(--cor-principal);
}

.lista-menu__titulo {
  color: var(--cor-destaque);
  font-weight: bold;
}

.lista-menu__link {
  background: var(--cor-secundaria-gradiente);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
  text-transform: uppercase;
}

.opcoes__link {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  padding: 1em;
}


@media screen and (min-width: 1024px) {
  .container__titulo, .container__titulo-destaque {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
  }

  .cabecalho__menu-hamburguer {
    display: none;
  }
  
  .container__titulo {
    font-weight: 400;
    display: block;
  }
  
  .container__titulo-destaque {
    font-weight: 700;
  }
  
  .opcoes {
    display: flex;
  }
  .opcoes__botao {
    display: none;
  }
  
  .opcoes__botao:checked ~ .botao__item {
    background: var(--cor-secundaria-gradiente);
    color: var(--cor-principal);
  }
  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }
  
  .lista-menu__item:hover {
    background: var(--cor-secundaria-gradiente);
  }
  
  #favoritos {
    display: none;
  }



}